SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

POSTGRES_DB=supportdesk
POSTGRES_USER=supportdesk
POSTGRES_PASSWORD=supportdesk

DB_URL=jdbc:postgresql://postgres:5432/supportdesk
DB_USERNAME=supportdesk
DB_PASSWORD=supportdesk

JWT_SECRET=0123456789abcdef0123456789abcdef
JWT_ACCESS_TOKEN_EXPIRATION_MS=3600000